<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Feed</title>
    <link rel="stylesheet" href="/styles/newsfeed.css"> <!-- Link to the CSS file -->
    <style>
        /* Inline CSS for specific styles */
        body {
            font-family: 'Inter', sans-serif;
            margin: 0;
            padding: 0;
            /* Additional styles can be added here */
        }
        /* Other specific styles can be added here */
    </style>
</head>
<body>
    
    <h3> <%- singleNews[0].title %> </h3>
    <h4> <%- singleNews[0].subtitle %> </h4>
    <p>  <%- singleNews[0].content %></p>
    <button class="delete-button" ><a href="/delete/<%- singleNews[0].id %>">Delete</a></button>
    <button class="update-button" ><a href="/editNews/<%- singleNews[0].id %>">Update</a></button>
        Hello
    <footer>
        <p>&copy; 2023 YourNewsFeed</p>
    </footer>
</body>
</html>
