<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modern Blog Landing Page</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/singleBlog.css">
</head>
<body>
    

    <div class="main-content">
       
            <div class="blog-card">
                <h1 class="blog-title"><%- blog[0].title  %></h1>
                <h2 class="blog-title"><%- blog[0].subTitle  %></h2>
                <p class="blog-content"><%- blog[0].content %></p>
                <p class="blog-meta">Author: <%= blog[0].author %> | Published on <%- blog[0].createdAt.toISOString().slice(0,10) %></p>
                <!-- id is inside -->
                <a href="/delete/<%-blog[0].id %>" class="delete-link">Delete</a>
                <a href="/edit/<%-blog[0].id %>" class="edit-link">Edit</a>
            </div>
            

    </div>

    <%- include("components/footer")  %>
</body>
</html>
